/***** Base Styles *****/

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  color: black;
	background: -webkit-linear-gradient(-45deg, #D3D3D3, #87CEEB);;
}


/**** body ****/
#header {
	display: inline;
}

.image { 
	  display: block;
          margin-left: auto;
          margin-right: auto;
	  width: 30px;
	}

.contact {
	text-align: center;
}

.a { 
	text-indent: 50px;
	margin: 65px;
}

.ooobs-head {
	    text-align: center;
}

.b {
	margin: 50px;
	text-indent: 65px;
}

.penn-head {
	text-align: center;
}
.c {
	margin: 50px;
	text-indent: 65px;
}
.hub-head {
	text-align: center;
}
.d {
	margin: 50px;
	text-indent: 65px;
}
.college { 
	text-align: center;
}
.other {
	text-align: center;
}
ul { 
	display: inline-block;
	text-align: left; 
}
