/***** Base Styles *****/

body {
  font-family: 'Lora', serif;
  color: black;
  background: -webkit-linear-gradient(-45deg, #AFEEEE, #F0FFFF)
	  
}
/***** Grid *****/



.image { float: right;
    width: 400px;
    height: 267px;
    boarder: solid;
    box-shadow: 10px 10px pink;
}

#header {
	display: inline;
}

.contact, h1 { under-line
}

.ooobs, h1 { underline
}
