/***** Base Styles *****/

body {
  font-family: 'Lora', serif;
  color: black;
  background: -webkit-linear-gradient(-45deg, #AFEEEE, #F0FFFF)
	  
}

.image {  width: 400px;
    height: 400px;
    padding: 15px;
    background-color: gray;
    box-shadow: 10px 10px;
}

#header {
	display: inline;
}

.contant, h1 { under-line
}
